<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/images/game.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{site_title}} | {{#if title}} {{title}}{{/if}}</title>
</head>
{{> common/style}}
{{> common/script}}

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
  <div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    {{> header/main}}
    {{> sidebar/main}}
    <div class="content-wrapper">{{{body}}}</div>
  </div>
  {{#if flash.message}}
  {{{flashMe flash}}}
  {{/if}}
</body>

</html>