.sorting_asc a,
.sorting_desc a,
.sorting a {
  color: black;
}


td {
  background-color: gray;
  border-radius: 25%;
  opacity: .4;
  width: 50px;
  height: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.text {
  color: white;
  opacity: 1;
  /* z-index: 2; */
  background-color: transparent;
  border: none;
}

td:hover {
  opacity: 0.8;
}


table {
  /* width: 300px; */
  height: 300px;
}

.table_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: 300px;
}

btn {
  position: relative;
  top: 10px;
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
  color: white;
  background-color: #EF798A;
  cursor: pointer;
}

btn:hover {
  background-color: #CC4C5E;
}